/***************GLOBAL***************/
:root{
    --primary: #467F0E;
    --primaryLight: #99D45E;
    --white: #f4e0df;
    --black:#3f3735;
}
/***************GLOBAL***************/

/***************BASE***************/
/***HEADER***/
header{
    background-color: var(--primaryLight);
    padding: 20px;
}
nav{

}

nav ul {
    display: flex;
    justify-content: space-around;
}

nav li {
    list-style-type: none;

}

nav a {
    color: var(--black);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/***MAIN***/
.body-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;

}


/*************Profil*************/

h1, h2{
    text-align: center;
}

.profil-container {
    display: flex;
    justify-content: space-around;
    align-items: inherit;
}

.form{
    align-items: flex-start;
}

.photo img{
    position: absolute;
    align-items: flex-end;
    width: 150px;
}

.recette{
    text-align: center;
    padding-top: 10%;
}





/***FOOTER***/
.footer {
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    bottom: 0;
    width: 100%;

}
/***************MAIN***************/


