/***************GLOBAL***************/
:root{
    --primary: #467F0E;
    --primaryLight: #99D45E;
    --white: #f4e0df;
    --black:#3f3735;
}
/***************GLOBAL***************/

/***************BASE***************/
/***HEADER***/
nav{

}
/***MAIN***/
.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*************Profil*************/
h1 {
    text-align: center;
}




/***FOOTER***/
/***************MAIN***************/

/***************Profil*************/
.photo{
    position: absolute;
}

.photo img{
    width: 150px;
    display: flex;
    justify-content: flex-end;
}