{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="meilleures-recettes">
        <h2>Meilleures Recettes</h2>
        {% for recette in meilleuresRecettes %}
            <a href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
        {% endfor %}
    </section>
    <section class="nouvelles-recettes">
        <h2>Nouvelles Recettes</h2>
        {% for recette in nouvellesRecettes %}
            <a href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
        {% endfor %}
    </section>
{% endblock %}
