{% extends 'base.html.twig' %}
{% block title %}Plats{% endblock %}

{% block body %}
    <h1>Plats</h1>
    <section class="plats">
        {% for recette in plats %}
            <a href="{{path('app_detail', {'id': recette.id}) }}">{{ recette.nom }}</a>
        {% endfor %}
    </section>
{% endblock %}


