<nav>
    {% if app.user %}
        <ul>
            <li><a href="{{ path('app_entrees') }}">Entrées</a></li>
            <li><a href="{{ path('app_plats') }}">Plats</a></li>
            <li><a href="{{ path('app_desserts') }}">Desserts</a></li>
            <li>Recherche Specifique</li>
        </ul>
    {% endif %}
</nav>