<nav>
    {% if app.user %}
        <ul>
            <li>Entrées</li>
            <li>Plats</li>
            <li>Desserts</li>
            <li>Recherche Specifique</li>
        </ul>
    {% endif %}
</nav>